* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    background-color: #cbd5e1;
    display: grid;
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 2fr 7fr;
    width: 100vw;
    height: 100vh;
}

/* Sidebar */

.sidebar {
    background-color: #3882f6;
    grid-area: 1 / 1 / 3 / 2;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0 10px;
}

.logo > * {
    margin: 0;
    padding: 0;
}

.sidebar > .logo img {
    height: 3rem;
}

.sidebar img {
    filter: invert(100%);
    height: 1.3rem;
    width: auto;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

li a {
    font-size: 1.3rem;
    color: #f9faf8;
    text-decoration: none;
}

li a:hover {
    color: #d1d5db;
    text-decoration: underline;
}

header {
    background-color: #f9faf8;
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 0 3px 3px 5px #c0c0c0;
}

main {
    grid-area: 2 / 2 / 3 / 3;
}
