* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    background-color: #cbd5e1;
    display: grid;
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 2fr 7fr;
    width: 100vw;
    height: 100vh;
}

/* Sidebar */

.sidebar {
    background-color: #3882f6;
    grid-area: 1 / 1 / 3 / 2;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0 10px;
}

.logo > * {
    margin: 0;
    padding: 0;
}

.sidebar > .logo img {
    height: 3rem;
}

.sidebar img {
    filter: invert(100%);
    height: 1.3rem;
    width: auto;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

li a {
    font-size: 1.3rem;
    color: #f9faf8;
    text-decoration: none;
}

li a:hover {
    color: #d1d5db;
    text-decoration: underline;
}

li a:hover img {
    text-decoration: none;
    filter: invert(80%);
}

/* Header */

header {
    background-color: #f9faf8;
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 0 3px 3px 5px #c0c0c0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
}

/* Top of the Header */

header > .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.search-bar {
    display: flex;
    gap: 15px;
    flex: 3;
}

.search-bar > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf800;
    border: none;
}

.search-bar > button:hover, .alert:hover, .user-image:hover {
    cursor: pointer;
}

.search-bar > button > img {
    height: 1.5rem;
    width: auto;
}

.search {
    width: 90%;
    border-radius: 25px;
    border: none;
    background-color: #cbd5e1;
    padding: 10px 25px;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    flex: 1;
    font-weight: bold;
    font-size: 1.2rem;
}

.alert {
    height: 1.5rem;
    width: auto;
}

.alert:hover {
    filter: invert(35%);
}

.user-image {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

/* Bottom of the Header */

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-bottom img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}

.user-welcome {
    display: flex;
    gap: 25px;
    padding: 10px 30px;
}

.hi, .user-name {
    font-weight: bold;
}

.user-name {
    font-size: 1.4rem;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.welcome > p {
    margin: 0;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 25px;
}

.header-links > a {
    background-color: #3882f6;
    padding: 15px 30px;
    border-radius: 50px;
    color: #f9faf8;
    text-decoration: none;
    transition-duration: .3s;
}

.header-links > a:hover {
    background-color: #cbd5e1;
    color: #3882f6;
}

/* Main Cards */

main {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    gap: 3%;
    padding: 5% 2%;
}

.cards {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    gap: 3%;
    flex: 3;
}

.card {
    background-color: #f9faf8;
    border-radius: 10px;
    border-left: 10px solid #f90;
}

.card, .announce, .trends {
    position: relative;
}

.card:first-of-type::before, .announce::before, .trends::before {
    position: absolute;
    top: -30px;
    font-size: 1.1rem;
    font-weight: bold;
}


.card:first-of-type::before {
    content: "Your Projects";
}

.announce-trend {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 9%;
}

.announce, .trends {
    background-color: #f9faf8;
    flex: 1;
    border-radius: 10px;
}

.announce::before {
    content: "Announcements";
}

.trends::before {
    content: "Trending";
}
